[% WRAPPER '_defwrapper.tmpl'
  header = 'cPanel Security Advisor'
 -%]
[% PROCESS '_ajaxapp_styles.tmpl' -%]
[% PROCESS '_ajaxapp_header.tmpl' -%] 
[% USE Whostmgr -%]
[% USE JSON %]
[% USE Dumper %]

<div>

<script>
// Imports
var YAHOO = window.YAHOO;
var CPANEL = window.CPANEL;
var DOM = YAHOO.util.Dom;
var EVENT = YAHOO.util.Event;
var Page_Notice = CPANEL.widgets.Page_Notice;

var notices = [];
</script>

<div id="securityadvice"></div>


[% IF data.advice %]
  [% FOR module IN data.advice.values %]
    [% FOR func IN module.values %]
        [% FOR item IN func %]
          <script>
              notices.push( {
                        level:  [% item.type %] == 8 ? "error" : [% item.type %] == 4 ? "warn" : [% item.type %] == 2 ? "info" : "success",
                        type:  [% item.type %],
                        container: DOM.get('securityadvice'),
                        content: [% locale.makevar(item.text).json %] + "<blockquote>" + [% locale.makevar(item.suggestion).json %] + "</blockquote>"
                } );
          </script>
      [% END %]
    [% END %]
  [% END %]
[% ELSE %]
  No advice
[% END %]

</div>

<script>

var sorted_notices = notices.sort( function(a,b) {
        return parseInt(b.type) - parseInt(a.type);
  });

for(var i=0;i<=sorted_notices.length;i++) {
  new Page_Notice(sorted_notices[i]).show();  
}

</script>

[% PROCESS '_ajaxapp_footer.tmpl' -%]
[% END #wrapper -%]
